<div class="tab" data-tab="<%= dataTab %>">
  <div class="tab_title"><%= title %></div>
  <div class="tab_content whitespace-break-spaces">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio accusamus, ratione
    doloremque nisi, enim ipsam delectus expedita unde molestias nulla facere! Veritatis adipisci mollitia placeat
    blanditiis similique incidunt tenetur reiciendis beatae maiores quisquam, vero fugiat labore, error aut, odio
    repellendus.</div>
</div>