<%# 
Sample Object:
{
  component: 'hero',
  configuration: {
    title: 'This is a Hero!',
  },
}
%>

<section id="<%= element.dynamic_id %>">

  <!-- Handle drop & drag -->
  <% if (data.editable) { %>
  <div class="handle_top"></div>
  <% } %>

  <div>No <%= element.position %> - <%= element.configuration.title %></div>

  <div>
    <button class="hero_btn">0</button>
  </div>

  <!-- Handle drop & drag -->
  <% if (data.editable) { %>
  <div class="handle_bottom"></div>
  <% } %>
</section>