<section id="<%= element.dynamic_id %>" data-position="<%= element.position %>">
  No <%= element.position %> - <%= element.configuration.title %>

  <div>
    <button class="hero_btn">0</button>
  </div>
</section>
