<%# 
Sample Object:
{
  component: 'hero',
  configuration: {
    title: 'This is a Hero!',
  },
}
%>

<% var dynamic_id = JSON.stringify(element.dynamic_id) %>

<div>No <%= element.position %> - <%= element.configuration.title %></div>

<div>
  <button class="hero_btn">0</button>
</div>