<% if(element.style){ %>
<link rel="stylesheet" href="<%= element.style %>" />
<% } %>

<% element.configuration.images.forEach(function(image){ %>
<div><%- image -%></div>
<% });%>

<% if(element.script){ %>
<script src="<%= element.script %>"></script>
<% } %>