<%# 
Sample Object:
{
  component: 'slider',
  configuration: {
    images: ['image_one', 'image_two', 'image_three'],
  },
}
%>

<section id="<%= element.dynamic_id %>">

  <!-- Handle drop & drag -->
  <% if (data.editable) { %>
  <div class="handle"></div>
  <% } %>

  <div>No <%= element.position %></div>

  <% element.configuration.images.forEach(function(image){ %>
  <div><%= image -%></div>
  <% });%>
</section>