<%# 
Sample Object:
{
  component: 'slider',
  configuration: {
    images: ['image_one', 'image_two', 'image_three'],
  },
}
%>

<% var dynamic_id = JSON.stringify(element.dynamic_id) %>

<div>No <%= element.position %></div>

<% element.configuration.images.forEach(function(image){ %>
<div><%= image -%></div>
<% });%>